h1{
    color: red;
    background-color: black;
}
h2{
    color: green;
    background-color: black;
}
h3{
    color: blue;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}
